# Seriously bloated old site - unpruned to the maximum
archive/

# Placeholder image
images/mqa.png
images/Screenshot*

# Outdated MQA image
images/mqa-old.png

# System sheeeeeet
.DS_Store

# Hugo Themes
themes/

# Generated Hugo site
public/

