<div id="skyhook-root"></div>

<!-- Fallback for users without JavaScript -->
<noscript>
    <img
        src="/img/skyhook_visualization.png"
        alt="The Tyranny of the Rocket Equation - How Skyhooks Reduce Delta-v Requirements"
        style="max-width: 100%; height: auto"
    />
</noscript>

<!-- Load React, React Is, ReactDOM, and Recharts from CDN -->
<script
    crossorigin
    src="https://unpkg.com/react@18/umd/react.production.min.js"
></script>
<script
    crossorigin
    src="https://unpkg.com/react-is@18/umd/react-is.production.min.js"
></script>

<script
    crossorigin
    src="https://unpkg.com/react-dom@18/umd/react-dom.production.min.js"
></script>
<script src="https://unpkg.com/recharts@3.2.1/umd/Recharts.js"></script>
<script
    crossorigin
    src="https://unpkg.com/@babel/standalone/babel.min.js"
></script>

<script type="text/babel" src="/js/skyhook-viz.js"></script>
